.item-box {
  margin: 1em;
  padding: 1em;
  border: 2px solid black;
  border-radius: 10px;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city {
  color: grey;
  margin: .5em 0 1em;
}

.img-rate {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-rate img {
  width: 100%;
  border-radius: 10px;
}

.rate {
  margin: 0.5em;
  font-size: 18px;
}